@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  html {
    @apply scroll-smooth
  }

  img {
    object-fit: cover;
  }

  /* .custom-border {
    position: relative;
    border-radius: 24px;
    overflow: hidden;
  }

  .custom-border::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 2px solid transparent;
    border-image: repeating-linear-gradient(241deg, #bfb5f6 0, rgba(50, 50, 83, 0.37) 25%, #7c6ce5 52%, #413d74 85%, #695aca 100%);
    border-image-slice: 1;
    border-radius: inherit;
    pointer-events: none;
    box-sizing: border-box;
  } */
}


/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

